h1{
	font-family: Garamond;
	color: #A96F36;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 2px 2px saddlebrown;
}
h5{
	font-family: Bookman Old Style ;
		color:	#A77C51 ;
}
p{ font-family: Century Regular;

}